#sidebar {
    width: 15%;
    height: 80%;
    position: fixed;
    top: 50px;
    left: 0;
    overflow: hidden;
    background: #fff;
    z-index: 1;
    padding: 18px;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    scrollbar-face-color: #889B9F;
    scrollbar-shadow-color: #3D5054;
    scrollbar-highlight-color: #C3D6DA;
    scrollbar-3dlight-color: #3D5054;
    scrollbar-darkshadow-color: #85989C;
    scrollbar-track-color: #95A6AA;
    scrollbar-arrow-color: #FFD6DA;
}