<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加编辑博客</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <style>
        body {
            padding-top: 0px;
        }

        .starter-template {
            padding: 0px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<link rel="stylesheet" href="/static/css/editormd.min.css">
<div class="container-fluid">
    <div class="starter-template">
        <form action="" method="post" class="form-inline">
            {% csrf_token %}

            <div class="row">

                <div class="form-group col-md-3">
                    <h2 style="display: inline-block;">标题：</h2>
                    {{ forms.title }}
                    {#                    <input type="text" name="title" class="form-control" style="margin-bottom: 10px;">#}
                </div>
                <div class="form-group col-md-3">
                    <h3 style="display: inline-block;">分类：</h3>
                    {{ forms.category }}
                </div>
                <div class="col-md-3 col-md-push-3" style="margin-top: 20px;">
                    <a href="/admin/web/blog/" class="btn btn-warning">返回</a>
                    <button class="btn btn-success" >添加</button>
                </div>

            </div>
            <div class="row">
                <div id="md-content">
                <textarea class="editormd-html-textarea" name="content">{{ content }}</textarea>
            </div>
            </div>
        </form>
    </div>
</div>
<script src="/static/js/jquery3.6.js"></script>
<script src="/static/js/editormd.min.js"></script>
<script>
    // md集成
    var contentEditor;
    $(function () {
        contentEditor = editormd("md-content", {
            width: "100%",
            height: 1000,
            syncScrolling: "single",
            path: "/static/lib/",
            {#saveHTMLToTextarea: true#}
        });
    });

</script>
</body>
</html>