
{% extends "base.html" %}
{% block title %}
    博客
{% endblock %}
{% block extracss %}
     <link rel="stylesheet" href="/static/css/bootstrap.min.css">
{% endblock %}
{% load sidebar %}
{% block content %}
    <div class="doc-container" id="doc-container">
        <div class="container-fixed">
            <div class="col-content">
                <div class="inner">
                    <article class="article-list bloglist" id="LAY_bloglist">
                        {% for blog in Page.pages %}
                            <section class="article-item zoomIn article">
                                {#<div class="fc-flag">置顶</div>#}
                                <h5 class="title">
                                    {#                                    <span class="fc-blue">【原创】</span>#}
                                    <a href="{% url "detial" blog.id %}">{{ blog.title }}</a>
                                </h5>
                                <div class="time">
                                    <span class="day">{{ blog.publish_time.day }}</span>
                                    <span class="month fs-18">{{ blog.publish_time.month }}<span class="fs-14">月</span></span>
                                    <span class="year fs-18 ml10">{{ blog.publish_time.year }}</span>
                                </div>
                                <div class="content">
                                    <a href="{% url "detial" blog.id %}" class="cover img-light">
                                        <img src="/{{ blog.img }}" alt="">
                                    </a>
                                    {{ blog.content_sample }}
                                </div>
                                <div class="read-more">
                                    <a href="{% url "detial" blog.id %}" class="fc-black f-fwb">继续阅读</a>
                                </div>
                                <aside class="f-oh footer">
                                    <div class="f-fl tags">
                                        <span class="fa fa-tags fs-16"></span>
                                        <a class="tag">{{ blog.category__title }}</a>
                                    </div>
                                    <div class="f-fr">
									<span class="read">
										<i class="fa fa-eye fs-16"></i>
										<i class="num">{{ blog.read_count }}</i>
									</span>
                                        <span class="ml20">
										<i class="fa fa-comments fs-16"></i>
										<a class="num fc-grey">{{ blog.c }}</a>
									</span>
                                    </div>
                                </aside>
                            </section>
                        {% endfor %}
                        {{ Page.page_html }}
                    </article>
                </div>
            </div>
            <div class="col-other">
                <div class="inner">
                    <div class="other-item" id="categoryandsearch">
                        <div class="search">
                            <label class="search-wrap">
                                <form action="" method="get">
                                    <input type="text" id="searchtxt" placeholder="输入关键字搜索" name="content"/>
                                    <span class="search-icon">
					                <button><i class="fa fa-search"></i></button>
					            </span>
                                </form>
                            </label>
                            <ul class="search-result"></ul>
                        </div>
                        <ul class="category mt20" id="category">
                            <li data-index="0" class="slider"></li>
                            {% categories request %}
                        </ul>
                    </div>
                    <!--右边悬浮 平板或手机设备显示-->
                    <div class="category-toggle"><i class="layui-icon">&#xe603;</i></div>
                    <div class="article-category">
                        <div class="article-category-title">分类导航</div>
                        {% categories_moblie request %}
                        <div class="f-cb"></div>
                    </div>
                    <!--遮罩-->
                    <div class="blog-mask animated layui-hide"></div>
                    <div class="other-item">
                        <h5 class="other-item-title">热门文章</h5>
                        <div class="inner">
                            <ul class="hot-list-article">
                                {% read_rank %}
                            </ul>
                        </div>
                    </div>
                    {#					<div class="other-item">#}
                    {#					    <h5 class="other-item-title">置顶推荐</h5>#}
                    {#					    <div class="inner">#}
                    {#					        <ul class="hot-list-article">#}
                    {#					                <li> <a href="/Blog/Read/16">java学习路线</a></li>#}
                    {#					                <li> <a href="/Blog/Read/14">基于SpringBoot+JWT+Redis跨域单点登录的实现</a></li>#}
                    {#					                <li> <a href="/Blog/Read/9">小白轻松入门Redis</a></li>#}
                    {#					        </ul>#}
                    {#					    </div>#}
                    {#					</div>#}
                    {#					<div class="other-item">#}
                    {#					    <h5 class="other-item-title">最近访客</h5>#}
                    {#					    <div class="inner">#}
                    {#					        <dl class="vistor">#}
                    {#					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/72388EA977643E8F97111222675720B1/100"><cite>Anonymous</cite></a></dd>#}
                    {#					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/342F777E313DDF5CCD6E3E707BB0770B/100"><cite>Dekstra</cite></a></dd>#}
                    {#					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/EA5D00A72C0C43ECD8FC481BD274DEEC/100"><cite>惜i</cite></a></dd>#}
                    {#					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/EF18CEC98150D2442183AA30F05AAD7B/100"><cite>↙Aㄨ计划 ◆莪↘</cite></a></dd>#}
                    {#					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/3D8D91AD2BAFD36F5AC494DA51E270E6/100"><cite>.</cite></a></dd>#}
                    {#					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/B745A110DAB712A0E6C5D0B633E905D3/100"><cite>Lambert.</cite></a></dd>#}
                    {#					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/E9BA3A2499EC068B7917B9EF45C4D13C/100"><cite>64ღ</cite></a></dd>#}
                    {#					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/09F92966169272DD7DD9999E709A0204/100"><cite>doBoor</cite></a></dd>#}
                    {#					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/59991D53192643A1A651383847332EB6/100"><cite>毛毛小妖</cite></a></dd>#}
                    {#					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/FF34F311DDC43E2AF63BE897BCA24F05/100"><cite>NULL</cite></a></dd>#}
                    {#					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/59AA25A7627284AE62C8E6EBDC6FE417/100"><cite>吓一跳</cite></a></dd>#}
                    {#					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/28B021E0F5AF0A4B9B781A24329FE897/100"><cite>如初</cite></a></dd>#}
                    {#					        </dl>#}
                    {#					    </div>#}
                    {#					</div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}