{% extends "base.html" %}
{% block title %}
    {{ blog.title }}
{% endblock %}
{% block extrastatic %}
    <link rel="stylesheet" href="/static/css/editormd.css"/>
    <link rel="stylesheet" href="/static/css/content_toc.css"/>
    {#    <script src="/static/js/jquery3.6.js"></script>#}
    <script src="/static/js/editormd.js"></script>
    <script src="/static/lib/marked.min.js"></script>
    <script src="/static/lib/prettify.min.js"></script>
    <script src="/static/lib/raphael.min.js"></script>
    <script src="/static/lib/underscore.min.js"></script>
    <script src="/static/lib/sequence-diagram.min.js"></script>
    <script src="/static/lib/flowchart.min.js"></script>
    <script src="/static/lib/jquery.flowchart.min.js"></script>
{% endblock %}

{% block blog-title %}
    <div class="blog-header">
        <h1 class="blog-title">{{ blog.title }}</h1>
        <p class="lead blog-description">{{ blog.category }} | {{ blog.publish_time }}</p>
    </div>
    <hr>
{% endblock %}

{#{% block sidebar %}#}
{#    <div id="sidebar">#}
{#        <div id="custom-toc-container"></div>#}
{#    </div>#}
{#{% endblock %}#}
{% block content %}

    <div class="col-md-9 blog-main">
        <textarea style="display: none;" id="content">{{ blog.content }}</textarea>
        <div class="blog-post">
            {#        <h2 class="blog-post-title" style="font-size: 40px; margin-top: 20px;">{{ blog.title }}</h2>#}
            {#        {{ blog.content|safe }}#}
            <div id="test-editormd-view"></div>
            {#        <p class="blog-post-meta" >{{ blog.publish_time }}</p>#}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        testEditormdView = editormd.markdownToHTML("test-editormd-view", {
            markdown: $("#content").html(),//+ "\r\n" + $("#append-test").text(),
            //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
            htmlDecode: "style,script,iframe",  // you can filter tags decode
            //toc             : false,
            tocm: true,    // Using [TOCM]
            tocContainer: "#custom-toc-container", // 自定义 ToC 容器层
            //gfm             : false,
            //tocDropdown     : true,
            markdownSourceCode: false, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
            emoji: true,
            taskList: true,
            tex: true,  // 默认不解析
            flowChart: true,  // 默认不解析
            sequenceDiagram: true,  // 默认不解析
        });

    </script>
{% endblock %}