{% extends "base.html" %}
{% block title %}
    {{ blog.title }}
{% endblock %}
{% block extrastatic %}
    <link rel="stylesheet" href="/static/css/editormd.css"/>
    <link rel="stylesheet" href="/static/css/content_toc.css"/>
    {#    <script src="/static/js/jquery3.6.js"></script>#}
    <script src="/static/js/editormd.js"></script>
    <script src="/static/lib/marked.min.js"></script>
    <script src="/static/lib/prettify.min.js"></script>
    <script src="/static/lib/raphael.min.js"></script>
    <script src="/static/lib/underscore.min.js"></script>
    <script src="/static/lib/sequence-diagram.min.js"></script>
    <script src="/static/lib/flowchart.min.js"></script>
    <script src="/static/lib/jquery.flowchart.min.js"></script>
{% endblock %}

{% block blog-title %}
    <div class="blog-header" style="background-color: #fff;z-index: 1;">
        <h1 class="blog-title">{{ blog.title }}</h1>
        <p class="lead blog-description">{{ blog.category }} | {{ blog.publish_time }}</p>
    </div>
    <hr>
{% endblock %}

{% block sidebar %}

    <div id="" class="">
        <div id="sidebar" class="">
            <div id="custom-toc-container" class=""></div>

        </div>
    </div>
{% endblock %}
{% block content %}

    <div class="col-sm-9 blog-main">
        <textarea style="display: none;" id="content">{{ blog.content }}</textarea>
        <div class="blog-post">
            {#        <h2 class="blog-post-title" style="font-size: 40px; margin-top: 20px;">{{ blog.title }}</h2>#}
            {#        {{ blog.content|safe }}#}
            <div id="test-editormd-view"></div>
            {#        <p class="blog-post-meta" >{{ blog.publish_time }}</p>#}
        </div>
        {#        <hr>#}
        <div id="comments">
            <h3>评论</h3>
            <hr>

            <div class="panel panel-default">
                {% for foo in blog.comment.values %}
                    <div class="panel-heading"><h3 class="panel-title">{{ forloop.counter }}#</h3></div>
                    <div class="panel-body" style="font-size: 15px;">
                        {{ foo.content }}
                    </div>
                    <div class="panel-footer" style="font-size: 8px;margin-bottom: 5px;">{{ foo.name }} <span
                            style="float: right">{{ foo.publish_time }}</span></div>
                {% endfor %}
            </div>

        </div>

        <div id="comment_form_container">
            <h3>发表评论</h3>
            <div>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">昵称</label>
                        <input type="text" class="form-control" id="name" placeholder="昵称" name="name">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" name="content"></textarea>
                    </div>

                    <button type="submit" class="btn btn-default">提交</button>
                </form>
            </div>


        </div>

    </div>

{% endblock %}

{% block js %}
    <script>
        testEditormdView = editormd.markdownToHTML("test-editormd-view", {
            markdown: $("#content").html(),//+ "\r\n" + $("#append-test").text(),
            //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
            htmlDecode: "style,script,iframe",  // you can filter tags decode
            //toc             : false,
            tocm: true,    // Using [TOCM]
            tocContainer: "#custom-toc-container", // 自定义 ToC 容器层
            //gfm             : false,
            //tocDropdown     : true,
            markdownSourceCode: false, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
            emoji: true,
            taskList: true,
            tex: true,  // 默认不解析
            flowChart: true,  // 默认不解析
            sequenceDiagram: true,  // 默认不解析
        });
        $("#hidden-sidebar").click(function () {

        })
    </script>
{% endblock %}