{% extends "base.html" %}
{% block title %}
    富贵平安的主页
{% endblock %}
{% block blog-title %}
    <div class="blog-header">
        <h1 class="blog-title">富贵平安。</h1>
        <p class="lead blog-description">个人博客，学习的记录。</p>
    </div>
    <hr>
{% endblock %}
{% block content %}
    <div class="col-sm-9 blog-main">
        {% for article in articles %}
            <div class="box" style="padding:0 10px;">
                <div class="blog-post">
                    <h2 class="blog-post-title"><a href="{% url "blogcontent" article.id %}">{{ article.title }}</a>
                    </h2>
                    <p style="font-size: 14px;">{{ article.content_sample }}</p>
                    <p class="blog-post-meta" style="float: right;font-size: 14px;">{{ article.publish_time }}</p>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block js %}
    <script>
        $(".blog-main").on('mouseover', '.box', function () {
            $(this).addClass("select-box")
        })
        $(".blog-main").on('mouseleave', '.box', function () {
            $(this).removeClass("select-box")
        })
    </script>
{% endblock %}