{% extends "base.html" %}
{% block title %}
    登录
{% endblock %}
{% block extracss %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="doc-container" id="doc-container">
        <div class="container-fixed">
            <div class="container-inner">
                <div class="modal-dialog" style="margin-top: 10%;">
                    <form action="" method="post" class="modal-content">
                        {% csrf_token %}
                        <div class="modal-header">

                            <h4 class="modal-title text-center" id="myModalLabel">登录</h4>
                        </div>
                        <div class="modal-body" id="model-body">


                            <div class="form-group">
                                <label for="username">用户名：</label>
                                {{ form.username }}
                                <span>{{ form.username.errors.0 }}</span>
                            </div>
                            <div class="form-group">
                                <label for="password">密码：</label>
                                {{ form.password }}
                                <span>{{ form.password.errors.0 }}</span>
                            </div>
                            {{ error }}
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <button class="btn btn-primary form-control">登录</button>
                            </div>
                            <div class="form-group">
                                <a href="{% url "register" %}" class="btn btn-default form-control">注册</a>
                                <a href="{% url "forget" %}" class="btn btn-default form-control">忘记密码</a>
                            </div>
                        </div>
                    </form><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>
{% endblock %}