<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册</title>
{#    <link href="favicon.ico" rel="shortcut icon" />#}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style=" background:  no-repeat center center fixed; background-size: 100%;">


    <div class="modal-dialog" style="margin-top: 10%;">
        <form action="" method="post" class="modal-content">
            {% csrf_token %}
            <div class="modal-header">

                <h4 class="modal-title text-center" id="myModalLabel">注册</h4>
            </div>
            <div class="modal-body" id = "model-body">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="用户名" autocomplete="off" name="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="密码" autocomplete="off" name="password">
                </div>
{#                <div class="form-group">#}
{#                    <input type="password" class="form-control" placeholder="重复密码" autocomplete="off" name="repassword">#}
{#                </div>#}
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="邮箱" autocomplete="off" name="email">
{#                    <button type="button" class="btn btn-success">发送验证码</button>#}
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button  class="btn btn-primary form-control">注册</button>
                </div>
                <div class="form-group">
                    <a href="{% url "login" %}" class="btn btn-default form-control">登录</a>
                </div>
            </div>
        </form><!-- /.modal-content -->
    </div><!-- /.modal -->

</body>
</html>